@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*Responsive Page*/
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .menu-bar ul {
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
    padding: 15px 30px !important;
  }
  .menu-bar ul li a {
    font-size: 14px !important;
  }
  .fa-basket-shopping {
    font-size: 14px !important;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .menu-bar ul {
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
    padding: 15px 13px !important;
  }
  .menu-bar ul li a {
    font-size: 12px !important;
  }
  .fa-basket-shopping {
    font-size: 12px !important;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
    padding: 15px 4px !important;
  }
  .menu-bar ul li a {
    font-size: 12px !important;
  }
  .fa-basket-shopping {
    font-size: 12px !important;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
    padding: 15px 1px !important;
  }
  .menu-bar ul li a {
    font-size: 12px !important;
  }
  .fa-basket-shopping {
    font-size: 12px !important;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .top-nav-bar {
    height: 57px;
    border-bottom: 1px solid #00c6c8;
    width: 100%;
  }
  .search-box {
    width: 100%;
  }
  .menu-bar {
    width: 100%;
  }
  .menu-bar ul {
    width: 100%;
  }
  .menu-bar ul li {
    height: 57px;
    width: 100%;
    padding: 15px 1px !important;
  }
  .menu-bar ul li a {
    font-size: 12px !important;
  }

  .fa-basket-shopping {
    font-size: 12px !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
  background-image: url("/Simple-e-Commerce-PHP/Images/6.jpg");
}

#admin-home-cont {
  align-items: center;
  width: 100%;
}

.container2 {
  align-items: center;
  width: 100%;
}

.img-fluid {
  width: 290px;
}

.box-area {
  width: 950px;
}

.left-box {
  background: #00c6c8;
}

.right-box {
  padding: 45px 35px 45px 45px;
}

.label {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.label-two {
  width: 18rem;
  font-family: "Courier New", Courier, monospace;
}

.googil {
  width: 22px;
}

::placeholder {
  font-size: 18px;
}

#show {
  width: 22px;
  height: 29px !important;
}

#hide {
  width: 22px;
  height: 29px !important;
  display: none;
}

.top-nav-bar {
  height: 57px;
  top: 0;
  position: sticky;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 3px solid #00c6c8;
  z-index: 2;
  width: 100%;
}

.logo {
  height: 40px;
  margin: 5px 10px;
}

.search-bar {
  margin: 9px 30px;
  border: 1px solid #00c6c8 !important;
  border-radius: 20px 0 0 20px !important;
  box-shadow: none !important;
}

.input-group-text {
  background: #00c6c8;
  border: 1px solid #00c6c8;
  margin-left: -30px !important;
  margin-top: 8.5px !important;
  margin-bottom: 9px !important;
  border-radius: 0 20px 20px 0 !important;
  cursor: pointer;
}

.search-box {
  display: inline-flex;
  width: 60%;
}

.fa-magnifying-glass {
  color: #fff;
}

.menu-bar {
  width: 40%;
  height: 57px;
  float: right;
}

.menu-bar ul {
  display: inline-flex;
  float: right;
}

.menu-bar ul li {
  list-style: none;
  border-left: 1px solid #fff;
  padding: 15px 35px;
  text-align: center;
  background-color: #00c6c8;
  cursor: pointer;
}

.menu-bar ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  text-decoration: none;
}

.fa-basket-shopping {
  margin-right: 5px;
}

#menu-btn {
  font-size: 30px;
  margin: 10px;
  color: #00c6c8;
  display: block;
}

#menu-close {
  font-size: 30px;
  margin: 10px;
  color: #00c6c8;
  display: none;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 20% auto; /* Center modal on screen */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* 80% of modal width */
  max-width: 400px; /* Max width of modal */
  border-radius: 10px;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Buttons */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #00c6c8;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #00c6c8;
}

table tr td {
  vertical-align: middle;
}

td button {
  margin: 5px;
}

td button li {
  font-size: 20px;
}

.modal-header {
  background: #00c6c8;
  color: #fff;
}

.delete {
  background: red;
  color: #fff;
  border: none;
}

.modal-body form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}

.modal {
  width: 100%;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Center modal on screen */
  padding: 30px; /* Adjust padding to ensure proper spacing */
  border: 1px solid #888;
  width: 100%; /* Adjust width as needed */
  max-width: 800px; /* Increase max-width for a larger modal */
  border-radius: 10px;
  display: flex;
}

.card.imgholder {
  width: 400px; /* Adjust width of the image holder */
  margin-right: 20px; /* Add margin between the image holder and input fields */
  height: 110px !important;
}

.inputField {
  flex-grow: 1; /* Allow input fields to take up remaining space */
}

.inputField div {
  display: flex;
  flex-direction: column; /* Arrange label and input in a column */
  margin-bottom: 10px; /* Add margin between input fields */
}

.fa-camera {
  font-size: 200px;
  text-align: center;
  margin-top: 25px;
}

.add {
  background-color: #00c6c8;
  border: 1px solid #00c6c8;
  margin-left: 670px;
}

.modal-body form .imgholder {
  /* flex-basis: 32%;
  height: 100%; */
  width: 300px;
  height: 100px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

#imgInput {
  margin: 35px 25px;
}

.modal-body form .inputField {
  flex-basis: 68%;
  border-left: 5px groove #00c6c8;
  padding-left: 20px;
}

.imgholder .upload {
  position: absolute;
  bottom: 0;
  left: 10;
  width: 100%;
  height: 100px;
  background: rbga(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upload i {
  color: #000;
  font-size: 35px;
  margin-bottom: 20px;
}

form .inputField > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

form .inputField > div label {
  font-size: 20px;
  font-weight: 500;
}

#productForm form .inputField > div label::after {
  content: "*";
  color: red;
}

form .inputField > div input {
  width: 75%;
  outline: none;
  border: none;
  padding: 10px;
  border-bottom: 2px solid #00c6c8;
  background: transparent;
}

.modal-footer .submit {
  font-size: 20px;
  padding: 20px 25px;
  background: #00c6c8;
  color: white;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 300;
  margin-right: 120px;
}

#viewForm form .inputField > div input {
  color: #000;
  font-size: 18px;
}

.fa-plus {
  font-size: 20px;
}

.upload {
  text-align: center;
  padding-top: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  cursor: pointer;
}

.register {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.register a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}

.register a:hover {
  text-decoration: underline;
}

.main-content {
  margin-left: 375px;
  margin-top: 250px;
}

.main-content h1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 1px;
  margin: 10px 0 20px;
}

.main-content h3 {
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0 20px;
}

.main-content p {
  font-size: 12px;
  color: #00c6c8;
  margin: 10px 0 20px;
}

.bg-wall {
  margin-top: 10vh;
  margin-left: 50px;
  margin-right: 5vh;
  border-radius: 15px;
  height: 500px;
}

.bg {
  margin-left: 725px;
  margin-top: -700px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prof {
  font-size: 200px;
  margin-bottom: 25px;
}

/* CSS for Confirmation Modal */
.confirm .modal-dialog {
  max-width: 400px;
}

.confirm .modal-content {
  border: none;
}

.confirm .modal-header {
  border-bottom: 1px solid #dee2e6;
}

.confirm .modal-footer {
  border-top: 1px solid #dee2e6;
}

.confirm .modal-body {
  padding: 20px;
}

.confirm .modal-footer .btn {
  min-width: 80px;
}

/* Center the modal vertically */
.modal.fade:not(.show).modal-dialog-centered {
  display: flex !important;
  align-items: center;
}

/* Center the modal horizontally */
.modal.fade:not(.show).modal-dialog-centered .modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

#confirmYesButton:hover {
  background-color: #ff7276;
}

.minus {
  background: red;
  border: none;
}

.minus:hover {
  background: #ff7276;
}

.confirm {
  width: 100%; /* Adjust width of the image holder */
  margin-right: 20px; /* Add margin between the image holder and input fields */
  height: 110px !important;
}

.prodLabel {
  text-align: center;
}

.deleteBtn {
  margin-right: 220px;
  background: red;
  border: none;
}

.deleteBtn:hover {
  background: #ff7276;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal-width columns */
  gap: 10px; /* Gap between columns */
}

.column {
  padding: 200px;
  text-align: center;
}

.item {
  /* border: 1px solid #ccc; */
  margin-bottom: 20px;
  padding: 10px;
}

.item img {
  width: 100%;
}

.item h2 {
  font-size: 20px;
}

.item p {
  font-size: 18px;
}

.item img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
}
button {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #125dac54;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
}

.form-control.form-control-lg {
  height: 25px !important; /* Set a fixed height */
}

.input-group.mb-1 {
  display: flex;
  align-items: center;
}

.input-group.mb-1 input[type="password"] {
  flex: 1;
}

.input-group.mb-1 button {
  flex-shrink: 0;
  margin-top: 0;
}
