@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*Responsive Page*/
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ececec;
    background-image: url('/Simple-e-Commerce-PHP/Images/6.jpg');
}

.img-fluid {
    width: 290px;
}

.box-area {
    width: 950px;
}

.left-box {
    background: #00c6c8;
}

.right-box {
    padding: 45px 35px 45px 45px;
}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

.label-two {
    width: 18rem;
    font-family: 'Courier New', Courier, monospace;
}

.googil {
    width: 22px;
}

::placeholder {
    font-size: 18px;
}